@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CS Classroom</title>
    
    @Html.Raw(JavaScriptSnippet.FullScript)
    @if (User?.Identity?.Name != null)
    {
        <script>
            appInsights.setAuthenticatedUserContext("@(User.Identity.Name
               .Replace("\\", "\\\\"))"
               .replace(/[,;=| ]+/g, "_"));
        </script>
    }

    <environment names="Development">
        <script src="~/js/external.js" asp-append-version="true"></script>
        <script src="~/js/internal.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/external.min.js" asp-append-version="true"></script>
        <script src="~/js/internal.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/css/external.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/internal.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/external.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/internal.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @Html.Partial("_Activation")
        @RenderBody()
        <script type="text/javascript">
            $(document).ready(rewriteGridCollectionNames);
            function cookieExists(name) {
                var nameToFind = name + "=";
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    if (cookies[i].trim().indexOf(nameToFind) === 0) return true;
                }
                return false;
            }
            if (!cookieExists("_timeZoneOffset")) {
                var now = new Date();
                var timeZoneOffset = -now.getTimezoneOffset();  // in minutes
                now.setTime(now.getTime() + 10*24*60*60*1000); // keep it for 10 days
                document.cookie = "_timeZoneOffset=" + timeZoneOffset.toString() + ";expires=" + now.toGMTString() + ";path=/;" + document.cookie;
                }
        </script>
        <hr />
    </div>

</body>
</html>
