@{
    ViewData["Title"] = "Select Question Type";
}

@using CSC.CSClassroom.WebApp.ViewModels.Question
@model SelectTypeViewModel

<h3><b>Select the type of question to create:</b></h3>

<form asp-action="Create" method="get" class="form-horizontal">
    @if (Model.QuestionCategoryId != null)
    {
        <input type="hidden" name="questionCategoryId" value="@Model.QuestionCategoryId.Value" />
    }
    @if (ViewBag.SourceAssignmentId != null)
    {
        <input type="hidden" name="sourceAssignmentId" value="@ViewBag.SourceAssignmentId" />
    }
    <div style="margin-left: 25px">
        @foreach (var item in Model.QuestionTypes)
        {
            <input type="radio" name="questionType" value="@item.Type.Name"/>
            <label class="info">@item.DisplayName</label>
            <p class="narrow-paragraph">@item.Description</p>
        }
    </div>
    <input type="submit" value="Create" class="btn btn-default"/>
</form>


