@using System.Threading.Tasks
@using CSC.CSClassroom.WebApp.ViewModels.Shared
@model CSC.CSClassroom.Model.Questions.Question

@{

    var actionName = ViewBag.Seed != null ? "View" : ActionName;
    var title = $"{actionName} {Model.QuestionTypeDisplay}";

    ViewData["Title"] = title;
}

<h2>@title</h2>
@if (ViewBag.Seed != null)
{
    <h4>(Seed: @ViewBag.Seed)</h4>
}
<form id="questionForm" asp-action="@ActionName">
    <div class="form-horizontal">
        <hr />
        @if (Model.Id > 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <input type="hidden" name="QuestionType" value="@Model.GetType().Name" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        @if (Model.QuestionCategory?.RandomlySelectedQuestionId != null)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Randomly Selected Question</label>
                <div class="col-md-10">
                    <p class="form-control-static">@Model.QuestionCategory.Name</p>
                    <input type="hidden" asp-for="QuestionCategoryId"/>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label asp-for="QuestionCategoryId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <p asp-description-for="QuestionCategoryId" class="form-control-static"></p>
                    <select asp-for="QuestionCategoryId" class="form-control" asp-items="ViewBag.QuestionCategoryId"></select>
                </div>
            </div>
        }
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <p asp-description-for="Name" class="form-control-static"></p>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        @if (Model.HideDescription)
        {
            <input type="hidden" asp-for="Description"/>
        }
        else
        {
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <p asp-description-for="Description" class="form-control-static"></p>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    @Html.Partial("_MarkdownEditor", new MarkdownEditorSettings("questionDescription", "Description", Model.Description))
                </div>
            </div>
        }

        @Html.Partial($"CreateEdit/_{Model.GetType().Name}", Model)

        @if (ViewBag.Seed == null)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (Model.HasChoices && ActionName == "Create")
                    {
                        <input type="submit" value="Select Question Choices" class="btn btn-default"/>
                    }
                    else
                    {
                        <input type="submit" value="@ActionName" class="btn btn-default"/>
                    }
                </div>
            </div>
        }
    </div>
</form>

@if (Model.IsQuestionTemplate && ActionName == "Edit")
{
    <br/>
    <hr />
    <h2>View Question Instance</h2>
    <form asp-action="@ActionName" method="get" target="_blank">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Seed</label>
                <div class="col-md-10">
                    <p class="form-control-static">Enter the seed of the question instance to view.</p>
                    <input name="seed" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="View" class="btn btn-default" />
                </div>
            </div>
        </div>
</form>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment names="Development">
        <script src="~/js/markdownBundle.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/markdownBundle.min.js" asp-append-version="true"></script>
    </environment>
}
