@using CSC.Common.Infrastructure.Utilities;
@using CSC.CSClassroom.Model.Users
@model IEnumerable<Question>

@{
    ViewData["Title"] = "Questions";
}

<h2>Questions</h2>
<div id="accordion" class="panel-group" style="max-width: 700px">
    @foreach (var category in Model
        .GroupBy(question => question.QuestionCategory)
        .OrderBy(group => group.Key.Name, new NaturalComparer()))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse@(category.Key.Id)">@category.Key.Name</a>
                </h4>
            </div>
            <div id="collapse@(category.Key.Id)" class="panel-collapse collapse">
                <div class="panel-body" style="line-height: 175%">
                    <table class="table">
                        <tbody>
                        @foreach (var question in category)
                        {
                            <tr>
                                <td style="text-align: left">
                                    @question.Name
                                </td>
                                <td style="text-align: right">
                                    @if (question.HasChoices)
                                    {
                                        @Html.ActionLink("Question Choices", "QuestionChoices", new { id = question.Id })
                                        @:|
                                    }
                                    @if (question.CanRandomize)
                                    {
                                        @Html.ActionLink("Randomize", "GenerateFromExisting", new {id = question.Id})
                                        @:|
                                    }
                                    @if (question.CanDuplicate)
                                    {
                                        @Html.ActionLink("Duplicate", "DuplicateExisting", new {id = question.Id})
                                        @:|
                                    }
                                    @Html.ActionLink("Edit", "Edit", new {id = question.Id}) |
                                    @Html.ActionLink("Delete", "Delete", new {id = question.Id})
                                </td>
                            </tr>
                        }
                        <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
@if (ClassroomRole >= ClassroomRole.Admin)
{
    <p>
        <a asp-action="Create">Create New Question</a> |
        <a asp-action="Index" asp-controller="QuestionCategory">Manage Question Categories</a>
    </p>
}