@{
    ViewData["Title"] = "Student Homework Assignments";
}
@using CSC.CSClassroom.Model.Users;

@model StudentAssignmentsViewModel

<h2>Homework Assignments</h2>
<h4 style="color: blue">Student: @Model.FirstName @Model.LastName</h4>
@if (ClassroomRole >= ClassroomRole.Admin)
{
    @Html.ActionLink("Manage Assignments", "Admin")
    <p></p>
}
@if (Model.SectionName != null)
{
    <h4>Section: @Model.SectionName</h4>
}
<div id="assignmentReport"></div>

@Html.Partial(
    "_NestedTable",
    new NestedTableConfig
    (
        "assignmentReport",
        typeof(AssignmentGroupResultViewModel),
        Model.AssignmentGroupResults,
        "No assignment results."
    ))

@if (Model.SectionName == null)
{
    <p></p>
    <span>Note: For admins, each assignment due date is the latest due date for all sections.</span>
}